.profile-pic{
    height: 60px;
    width: 60px;
}
.colheader{
    cursor:pointer;
}
.table thead th{
    border: 1px solid white;
}
.right-margin{
    margin-right:10px;
}
.smallspinner {
  height: 60px;
  width: 60px; 
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
}
.largespinner {
  position: absolute;
   left: 45%;
   top: 45%;
   margin:0px auto;
  height: 100px;
  width: 100px; 
}